<!DOCTYPE html>
<html= lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <tittle>Bienvenido a MUSIC PRO</tittle>


</head>
<body>
   
    <nav>
        <ul>
            <li>
                <a href="/">home</a>
        
            </li>
            <li>
                <a href="/perfil">perfil</a>
            </li>
            <li>
                <a href="/products">/products</a>
            </li>

        
            {% if request.user.is_authenticated %}
                <li><a href={% url 'exit' %}>Salir</a></li>
            {% else% }
                <li><a href={% url 'login' %}>Ingresar</a></li>
            {% endif %}
        </ul>
        
    </nav>
    {% block content %}
    {% endblock %} 

</body>
</html>