{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil de Usuario</title>

<!--iconos-->
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">


<!--Google Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">


<!--CSS-->
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="r/fontawesome.min.css">



</head>

<body class="flex flex-col min-h-screen">
  <header class="sticky-nav bg-gray-900 text-white py-4">
    <div class="container mx-auto flex items-center justify-between"></div>
  </header>



  <div class="container mx-auto py-8 flex-grow">
    <div class="profile-container">
      <h1>{{ saludo }}</h1>
      <br>
      <h2 class="text-center mx-auto"> Perfil de Usuario</h2>
      <br>
      <p style="text-align: left;">Nombre de usuario: {{ user }}</p>
      <br>
      <p style="text-align: left;">Saldo: {{ saldo }}</p>
      <br>
      <div class="text-center">
        <a href="/perfil/" class="inline-block">Realizar transferencia</a>
      </div>
    </div>
  </div>
</body>
</html>

  

  
</body>

</html>