{% extends 'base.html' %}

{% block content %}
    <h1>Crear Usuario</h1>
    <form method="post" action="{% url 'crear_usuario' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="user" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="user" name="user">
        </div>
        <div class="mb-3">
            <label for="contrasena" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="contrasena" name="contrasena">
        </div>
        <div class="mb-3">
            <label for="saldo" class="form-label">Saldo</label>
            <input type="number" class="form-control" id="saldo" name="saldo">
        </div>
        <form method="post" action="{% url 'crear_usuario' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Crear</button>
        </form>
    </form>
{% endblock %}